.container {
    width: 98%;
    height: 50px;
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
    justify-content: space-between;
}

.directions,
.profile {
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: #fff; */
}

.directions {
    width: 85px;
}

.profile {
    border-radius: 50px;
    width: 250px;
    height: 35px;
    background-color: #5151515f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: .8rem;
}

.profile:hover {
    cursor: pointer;
}

.left, 
.right {
    width: 35px;
    height: 35px;
    border-radius: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000008d;
}

.left:hover,
 .right:hover {
    cursor: pointer;
    background-color: #404040;
 }

 .user  {
    display: flex;
    align-items: center;
 }
 .icon {
     width: 35px;
     height: 35px;
     border-radius: 200%;
     background-color: #5b5b5bef;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-right: .4rem;
 }