* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  background-color: #F5F5F5;
  display: flex;
}

.sidebar {
  background-color: #FFFFFF;
  width: 80px;
  border-right: 2px solid #cccccc55;
}

.dashboard {
  width: 70vw;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard section,
.dashboard .stats {
  margin-top: 50px;
}

.dashboard section {
  width: 70%;
  height: 100px;
}

.dashboard .stats {
  display: flex;
}

.dashboard .stats h4 {
  margin-bottom: 15px;
}

.dashboard .stats p {
  color: #9b9b9b;
  font-size: .8em;
  font-weight: bold;
}
.dashboard .stats div:first-child {
  width: 88%;
}

.filter select {
  background-color: #e3e3e3;
  padding: 0.4rem 1.5rem;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: flex-end;
}

.filter select:focus {
  outline:none;
}

.dashboard .info {
  display: flex;
  width: 70%;
}

.dashboard .info-graph {
  width: 8.8%;
 height: 250px;
}

.bar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.info-graph .bar div:first-child,
.info-graph .bar div:last-child {
  border-radius: 8px;
}

.info-graph .bar div:first-child {
  width: 20px;
  height:70%;
  margin-right: 2px;
  background-color: #16161E;
}

.info-graph .bar div:last-child {
  width: 25px;
  height:50%;
  background-color: #C6EFF8;
}

.info-graph .month {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.517);
}

 .price {
  margin-top: 75px;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.price .content {
  width: 47%;
  height: 130px;
  border-radius: 10px;
}

.play,
.revenue {
  display: flex;
}

.play .icon,
.revenue .icon {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play .icon img,
.revenue .icon img {
  height: 30%;
  width: 35%;
}

.play {
  background-color: #C2FDA9;
}

.revenue {
  background-color: #C6EFF8;
}

.content .content-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
}

.content .content-item p {
  margin-bottom: 5px;
}

.team {
  display: flex;
  margin: 50px 0;
  width: 70%;
  justify-content: space-between;
}

.members h3 {
  margin-bottom: 25px;
}

.team .members,
.team .score {
  padding: 2.5rem 1rem;
  border: 2px solid #0000007d;
  width: 42.5%;
  border-radius: 8px;
}

.members .cards {
  width: 90%;
  margin: 0 auto;
}

.members .cards .card {
  display: flex;
  height: 55px;
  margin: 30px  auto;
  padding-bottom: 10px;
  border-bottom: 1px solid #5757571b;
}

.members .cards .card .avatar {
  width: 15%;
  height: 55px;
}

.card .avatar img {  
  width: 100%;
  height: 100%;
  border-radius: 200%;
}

.card .title {
  width: 85%;
  text-indent: 1rem;
  padding-top: 5px;
}

.card .title h4 {
  margin-bottom: 5px;
}

.card .title p { 
  color: #0000005e;
}

.cards div:last-child {
  border-bottom: none;
}